@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}


body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1460px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.btn{
  background-color: transparent;
  transition: .2s;
  padding: 14px 17px;
  border: 2px solid #000;
  border-radius: 13px;
  font-weight: 700;
  cursor: pointer;
}